{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form method='post' action='correct'>
			  <div class="form-group" >
          <label for='test_data'>Enter the test data.</label>
          <textarea name='test_data' class="form-control" id='test_data'>{% if test_data %}{{ test_data }}{% endif %}</textarea>
			  </div>
			  <div class="form-group">
			    <label for='ber'>Bit Error Rate</label>
			    <input type='text' name='ber' class="form-control" id='ber' value="{% if ber %}{{ ber }}{% endif %}"/>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
    </div>
    <div class="col-sm-6">
       <div class="form-group">
         <label for="word">Enter Word/Bit Stream</label>
         <input type="text" class="form-control" id="word">
       </div>
       <div class="form-group">
         <label for="word-prob">Word Probability</label>
         <input type="text" class="form-control" id="word-prob">
       </div>
       <div class="form-group">
         <label for="word-code">Word Huffman Code</label>
         <input type="text" class="form-control" id="word-code">
       </div>
       <div class="form-group">
         <label for="time">Time Taken</label>
         <input type="text" class="form-control" id="time">
       </div>
       <div class="form-group">
	       <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="display: none;">
			   </div>
			 <div>
       <div class="form-group">
          <button class="btn btn-default" id="word-analyse">Analyse word</button>
       </div>
       <div id="accordion-filler" style="display:none">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading#DIS">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse#DIS" aria-expanded="true" aria-controls="collapse#DIS">
                  #DIS
                </a>
              </h4>
            </div>
            <div id="collapse#DIS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading#DIS">
              <div class="panel-body">
                #WORDS
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="row">
    {% if results %}
      <hr></hr>
      {% include 'results.html' %}
    {% endif %}
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  $('#word-analyse').click(function() {
     var url = $SCRIPT_ROOT + '/word/' + $('input#word').val();
      $.getJSON(url, {}, function(data) {
        $('#word-prob').val(data.pb);
        $('#word-code').val(data.hc);
        $('#time').val(data.time);
        var html = $('#accordion-filler').html();
        var htmlstr = []
        for (var dis in data.probable_words) {
          htmlstr.push(html.replace(/#DIS/g, dis).replace(/#WORDS/g, data.probable_words[dis].join(', ')))
        }
        $('#accordion').html(htmlstr.join(''))
        $('#accordion').css('display', 'inline');
      });
      return false;
    });
</script>
{% endblock %}

